{% extends "layouts/default.html" %}

{% block content %}
<main role="main" class="flex-shrink-0">

    <div class="container">
      <div class=" px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Ensuring water safety by leveraging routine water quality data.</h1>
      </div>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">ANNOUNCEMENTS</h4>
          </div>
          <div class="card-body">
            <p class=" mt-3 mb-4 lead">
              Click below to read the latest from the SWOT.
            </p>

          </div>
          <div class="card-footer">
            <button type="button" onclick="location.href='/blog';" class="btn btn-lg btn-block btn-primary">Read More</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">4 SIMPLE STEPS</h4>
          </div>
          <div class="card-body">
            <ul class="mt-3 text-left lead">
              <li><span class="font-weight-bold">1) </span>Download template.</li>
              <li><span class="font-weight-bold">2) </span>Add field data.</li>
              <li><span class="font-weight-bold">3) </span>Upload data template.</li>
              <li><span class="font-weight-bold">4) </span>Get FRC recommendation.</li>
            </ul>
          </div>
          <div class="card-footer">
            <button type="button" onclick="location.href='/pages/instructions';" class="btn btn-lg btn-block btn-primary">Read Instructions</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal ">DOWNLOAD</h4>
          </div>
          <div class="card-body">
            <img class="excel_logo mt-3" src="assets/excel_logo.svg" alt="excel icon" />

          </div>
          <div class="card-footer">
            <button type="button" onclick="location.href='/download';" class="btn btn-lg btn-block btn-primary">Download Template</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="jumbotron shadow-sm">
        <div class="row">
          <div class="col-sm-12 col-md-12 align-middle">
            <h3 class="display-6">OPEN SOURCE DEVELOPMENT LED BY</h3><br />
            <div class="row justify-content-md-center">
              <div class="col-sm-12 col-md-2">
                <a href="http://dighr.yorku.ca/"><img src="assets/DIGHR-blue.png" width="150px" class="img-fluid" alt="support logo"></a>
              </div>
              <div class="col-sm-12 col-md-4">
                <a href="https://www.doctorswithoutborders.ca/"><img src="assets/MSF-logo.jpg" class="img-fluid" alt="support logo"></a>
              </div>
            </div>
            <br>
            <h3 class="display-6">WITH FUNDING SUPPORT FROM</h1><br />
              <div class="row justify-content-md-center">

                <div class="col-sm-12 col-md-4">
                  <a href="https://www.achmea.nl/en/sustainability/achmea-foundation"><img src="assets/AchmeaFoundation.png" class="img-fluid" alt="support logo"></a>
                </div>
                <div class="col-sm-12 col-md-4">
                  <a href="https://www.grandchallenges.ca/programs/creating-hope-conflict/"><img src="assets/GCC-logo.png" class="img-fluid" alt="support logo"></a>
                </div>
              </div>
          </div>

        </div>
      </div>
    </div>
  </main>
{% endblock %}
