{% extends "layouts/default.html" %}

{% block content %}
<main role="main" class="flex-shrink-0">

    <div class="container">
      <div class=" px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Find life-saving information in routine water quality data.</h1>
      </div>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">HOW TO USE THIS TEMPLATE</h4>
          </div>
          <div class="card-body">
            <p class=" mt-3 mb-4 lead">
              Download the template and collect your data throughout the camp.
            </p>
            <p class=" mt-3 mb-4 lead">
              Use the columns and rows provided to enter the information.
            </p>
            <p class=" mt-3 mb-4 lead">
              Please do not remove any of the columns or rows.
            </p>
            <p class=" mt-3 mb-4 lead">
              You need Microsoft Office 2007 or a compatible Office suite to
              view the Excel template
            </p>
          </div>
          <div class="card-footer">
              <form method="get" action="/data/template/DataInputTemplate(Sept52019).xlsx">
                <button type="submit" class="btn btn-lg btn-block btn-primary">Download</button>
              </form>        
          </div>
        </div>

      </div>
    </div>

  </main>
{% endblock %}
