{% extends "layouts/default.html" %}

{% block content %}
<main role="main" class="flex-shrink-0">

    <div class="container">
      <div class=" px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Ensuring water safety by leveraging routine
          water quality data.</h1>
      </div>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">HOW TO USE THE DATA INPUT TEMPLATE</h4>
          </div>
          <div class="card-body">
            <p class=" mt-3 mb-4 lead">
              Collect field data following the <a href="https://drive.google.com/open?id=1V611mleA_ak353JQ1iZ9t1z-qQ6HcBnk" rel="noopener noreferrer" target="_blank">Field Data Collection Protocol</a>.
            </p>
            <p class=" mt-3 mb-4 lead">
              Download the <a href="https://drive.google.com/open?id=1sH2ln3GfoXaXG2x5hm4E3RCub_mGIyzX" rel="noopener noreferrer" target="_blank">Data Input Template</a>.
            </p>
            <p class=" mt-3 mb-4 lead">
              Enter your field data under the correct
headings following the instructions on the form
and here, paying attention to
the units and format of the data.
            </p>
            <p class=" mt-3 mb-4 lead">
              Please do not remove any columns or rows.
            </p>
            <p class=" mt-3 mb-4 lead">
              You need Microsoft Office 2007 or a
compatible Office suite to view the Excel
template.
            </p>
          </div>
          <div class="card-footer">
            <a href="https://drive.google.com/open?id=1sH2ln3GfoXaXG2x5hm4E3RCub_mGIyzX" class="btn btn-lg btn-block btn-primary">Download Data Input Template</a>
          </div>
        </div>

      </div>
    </div>

  </main>
{% endblock %}
