{% extends "layouts/default.html" %}

{% block content %}
<main role="main" class="flex-shrink-0">

    <div class="container">
      <div class=" px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Find life-saving information in routine water quality data.</h1>
      </div>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">ANNOUNCEMENT</h4>
          </div>
          <div class="card-body">
            <h5 class="card-title pricing-card-title mt-3">July 30, 2019</h5>
            <p class=" mt-3 mb-4 lead">
              Safe Water Optimization Tool version 1 is released.
            </p>

          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-lg btn-block btn-primary">Read More</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">4 SIMPLE STEPS</h4>
          </div>
          <div class="card-body">
            <ul class="mt-3 text-left lead">
              <li><span class="font-weight-bold">1) </span>Download template.</li>
              <li><span class="font-weight-bold">2) </span>Fill in the template.</li>
              <li><span class="font-weight-bold">3) </span>Upload template.</li>
              <li><span class="font-weight-bold">4) </span>Print the result.</li>
            </ul>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-lg btn-block btn-primary">Read Instruction</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal ">DOWNLOAD</h4>
          </div>
          <div class="card-body">
            <img class="excel_logo mt-3" src="assets/excel_logo.svg" alt="excel icon" />

          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-lg btn-block btn-primary">Download Template</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="jumbotron shadow-sm">
        <div class="row">
          <div class="col-sm-12 col-md-8 align-middle">
            <h2>Our Partners</h2>
            <p class=" lead">Access to new or different ideas, materials, and expertise will give us the opportunity to
              improve current products, services and will help us to create new ones.</p>
            <p class=" lead">Safe Water Optimization Tool is proudly built in partnership with MSF (Médecins Sans
              Frontières / Doctors Without Borders) and Dahdaleh Institute for Global Health Research at York
              University.</p>
          </div>
          <div class="col-sm-12 col-md-4">
            <img src="assets/Support_Logo.png" class="img-fluid" alt="support logo" />
          </div>
        </div>
      </div>
    </div>

  </main>
{% endblock %}
