{% extends "layouts/default.html" %}

{% block content %}
<main role="main" class="flex-shrink-0">

  <div class="container">
    <div class=" px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">When uploading your dataset:</h1>
    </div>
  </div>

  <div class="upload container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <ul class="no_bullet">
            <li class="check">Ensure all required columns have data.</li>
            <li class="check">Save your dataset either as a .csv or .xlsx
              file.</li>
            <li class="check">Assign the uploaded dataset to the correct Fieldsite.</li>
          </ul>
        </div>
        <div class="card-footer">

          <button type="button" id="uploadData" class="btn btn-lg btn-block btn-primary">Choose files to upload</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">

    $('#uploadData').on('click', () => {
      showSpinner();
      uploadFile();
    })


    function setupDropbox() {
      let dropbox;

      dropbox = $("#dropbox");

      // clear all previously added event handlers
      dropbox.off();

      // add event handlers
      dropbox.on("dragenter dragover", drag);
      dropbox.on("drop", drop);
      dropbox.on("click", () => {
        let fileElem = document.getElementById('fileElem');
        fileElem.click();
      });
    }

    function drag(e) {
      e.stopPropagation();
      e.preventDefault();
    }

    function drop(e) {
      drag(e);

      const dt = e.originalEvent.dataTransfer;
      const files = dt.files;

      handleFiles(files);
    }

    function handleFiles(files) {
      if (!files || !files.length) {
        return;
      }

      // showSpinner();
      const fileCount = $("#fileCount");

      fileCount.text(files.length);

      document.getElementById('fileElem').files = files;
    }

    function uploadFile() {
      var opts = {
        url: '/api/user/fieldsites',
        type: 'GET',

        success: function (res) {
          hideSpinner();
          showDetailsModal(res.fieldsites);
        },

        //This error function is called if the request fails for submitting the file itself.
        error: function (error) {
          $("#fileElem").val('');
          logError(error);
        }
      };

      //Execute the AJAX call.
      $.ajax(opts);
    }

    function showDetailsModal(userFieldsites) {
      $("#fieldsite").empty();
      $.each(userFieldsites, function (index, fieldsite) {
        $('#fieldsite')
          .append($("<option></option>")
            .attr("value", fieldsite._id)
            .text(fieldsite.name));
      });

      $('#FileUploadDetailsModal').on('hidden.bs.modal', function () {
        hideSpinner();
        $(this).find('form').trigger('reset');
      });
      $('#FileUploadDetailsModal').modal({ backdrop: 'static', keyboard: false, focus: true });
      setupDropbox();
    }

    function logError(error) {
      console.error('The file was not uploaded to the server. Here is the error message from the server:');
      console.error('Server error: ' + error);
      console.error('Server status: ' + error && error.status ? error.status : "");
      const message = error && error.responseJSON && error.responseJSON.error ? error.responseJSON.error : null;
      console.error('Server message: ' + message);
      showConfirmModal("An error occurred during file upload. Details: " + (message ? message : "Unknown Error"));
      hideSpinner();
    }

    setupDropbox();

  </script>

  <!-- The Upload Modal -->
  <div class="modal fade" id="FileUploadDetailsModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">ADD FILE INFORMATION</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form class="form" role="form" autocomplete="off" id="formUpload" action="/api/upload/append" method="POST"
            target="_blank" enctype="multipart/form-data">
            <div class="form-group">
              <label for="fieldsite">Site</label>
              <select id="fieldsite" class="form-control" required="" name="fieldsite">
              </select>
            </div>

            <div class="form-group">
              <label for="overwrite">Overwrite Duplicate Entries</label>
              <input type="checkbox" id="overwrite" name="overwrite" value="1" />
            </div>

            <div class="upload container text-center">
              <div class="upload-box" id="dropbox">
                <input type="file" id="fileElem"
                  accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                  style="display:none" onchange="handleFiles(this.files)" name="fileElem" multiple />

                <p>Simply Drag Files or Click Here</p>

                <img class="upload_logo mt-3" src="assets/upload.svg" alt="upload icon" />
                <p><span id="fileCount">0</span> File(s) Uploaded</p>
              </div>
            </div>


            <div class="form-group pt-4">
              <button class="btn btn-danger btn-lg" data-dismiss="modal" aria-hidden="true">Cancel</button>
              <button type="submit" class="btn btn-primary btn-lg float-right" id="btnSave">Save</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

</main>
{% endblock %}