#collect-data {
  [class*="step-"] {
    display: flex;
    align-items: flex-start;

    min-height: 300px;
    padding: 40px 15px;

    &:nth-child(odd) {
      background-color: #fcfcfc;
      border-bottom: 1px solid #bdccd4;
    }

    > * {
      flex: 1 0 50%;
    }
    .figure {
      width: 100%;
    }
    .button {
      white-space: nowrap;
    }
    .label {
      font-weight: 500;
      margin: 15px 0 15px 0;
    }
  }

  @media (max-width: 719.9px) {
    [class*="step-"] {
      flex-wrap: wrap;
    }
  }

  @media (min-width: 720px) {
    [class*="step-"] {
      min-height: 300px;
      padding: 40px 30px;
    }
    figure {
      margin-top: -40px;
    }
  }

  .step-1 {
  }
  .step-2 {
  }
}
