#tool-steps {
  > section {
    padding: 30px 15px;

    &:nth-child(even) {
      background-color: #fcfcfc;
    }
  }

  .button i {
    transform: scale(1.4);
  }

  .tool-step {
    align-items: flex-start;
    width: 100%;

    &:not(:last-child) {
      border-bottom: 1px solid #dde6ed;
    }
    .icon {
      font-family: "Roboto Condensed";
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 4rem;
      justify-content: center;
      letter-spacing: -0.01em;
      color: #fff;
      font-style: normal;

      width: 4rem;
      height: auto;
      margin-right: 1.25rem;
      &::before {
        background-color: #4069b1;
        border-radius: 4rem;
        border: 2px solid #4c5054;
      }
    }
    .text {
      padding-top: 1rem;
    }
  }

  @media (min-width: 720px) {
    > section {
      padding: 30px 50px;
    }
  }
}

#about-preview {
  order: 2;
  .button.more-info {
    width: 100%;
    padding: 15px 20px 25px;
    i {
      transform: scale(1.6);
      margin-left: auto;
    }
  }
}
#about {
}

#organisations {
  > section {
    padding: 30px 15px;

    &:nth-child(even) {
      background-color: #fcfcfc;
    }
  }
  .project-leads,
  .project-funding {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 3rem 0;
  }
  .project-leads {
  }
  .org {
    margin: 1.5rem;
    img {
      max-height: 150px;
      max-width: 150px;
      mix-blend-mode: multiply;
    }
  }

  @media (min-width: 720px) {
    > section {
      padding: 30px 50px;
    }
    .org {
      img {
        max-height: 200px;
        max-width: 200px;
      }
    }
  }
}
