.upload ul.no_bullet {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.upload li.check {
	background: url("/assets/check.png") no-repeat left top;
	height: 54px;
	padding-left: 44px;
	padding-top: 3px;
	text-align: left;
}
.MuiDropzoneArea-root {
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
	border: 2px dashed #3f4344 !important;
	background-color: #f6f7f7 !important;
	border-radius: 5px;

	.MuiDropzoneArea-text {
		margin-top: 24px;
		margin-bottom: 4px;
	}

	p,
	.MuiTypography-h5 {
		font-size: 1.15rem !important;
		font-weight: 500;
		line-height: 2.6rem;
	}
	.MuiDropzoneArea-textContainer {
		svg {
			width: 60px;
			height: 60px;
		}
	}

	.MuiGrid-container {
		align-items: center;
		justify-content: center;

		padding-top: 10px;

		.MuiChip-root {
			border: #4069b1 1px solid !important;
			background-color: #4069b1 !important;
			color: #fff;

			svg {
				fill: #fff;
			}
		}
	}
}
.upload .upload-box .upload_logo {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto 20px;
}
.upload .upload-box p {
	margin-bottom: 5px;
}
.upload .upload-box .underline {
	text-decoration: underline;
}
.upload .upload-box .or {
	display: block;
	margin: 10px 0;
	font-weight: 500;
	color: #4069b1;
	text-transform: uppercase;
	margin-top: 10px;
}
.upload .upload-box .selected {
	margin-top: 20px;
}
