{% extends "layouts/default.html" %}

{% block intro %}
<div class="container">
  <div class=" px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4" id="headerText">{{ data.page.title }}</h1>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="px-3 py-3 pb-md-4 mx-auto">
    {% if not data.page %}
      <h2>Invalid Page.</h2>
    {% else %}
        {% if data.page.image.exists %}
          <div class="image-wrap">
            <img src="{{ data.page._.image.fit(750,450) }}" class="img-responsive">
          </div>
        {% endif %}
      {{ data.page.content.extended|safe }}
    {% endif %}
  </div>
</div>
{% endblock %}
