{% extends "layouts/default.html" %}

{% block content %}
<main role="main" class="flex-shrink-0">

  <div class="container">
    <div class=" px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">When uploading your dataset:</h1>
    </div>
  </div>

  <div class="upload container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <ul class="no_bullet">
            <li class="check">Ensure all required columns have data.</li>
            <li class="check">Save your dataset either as a .csv or .xlsx
              file.</li>
            <li class="check">Assign the uploaded dataset to the correct Fieldsite.</li>
          </ul>
        </div>
        <div class="card-footer">

          <button type="button" id="uploadData" class="btn btn-lg btn-block btn-primary">Choose files to upload</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">

    let uploadedFiles = [];

    $('#uploadData').on('click', () => {
      showSpinner();
      uploadFile();
    })


    function setupDropbox() {
      let dropbox;

      dropbox = $("#dropbox");

      // clear all previously added event handlers
      dropbox.off();

      // add event handlers
      dropbox.on("dragenter dragover", drag);
      dropbox.on("drop", drop);
      dropbox.on("click", () => {
        let fileElem = document.getElementById('fileElem');
        fileElem.click();
      });
    }

    function drag(e) {
      e.stopPropagation();
      e.preventDefault();
    }

    function drop(e) {
      drag(e);

      const dt = e.originalEvent.dataTransfer;
      const files = dt.files;

      handleFiles(files);
    }

    function handleFiles(fileList) {
      if (!fileList || !fileList.length) {
        return;
      }

      // showSpinner();
      const fileCount = $("#fileCount");

      fileCount.text(fileList.length);

      uploadedFiles = fileList;
      // document.getElementById('fileElem').fileList = fileList;
    }

    function setupFormUpload() {
      const formUpload = $('#formUpload');
      formUpload.off();
      formUpload.submit((e) => {
        // prevent default behavior of event
        e.preventDefault();

        new FormData(formUpload[0]);
      });

      formUpload.on('formdata', (e) => {
        let formData = e.originalEvent.formData;

        for (let i = 0; i < uploadedFiles.length; i++) {
          const file = uploadedFiles[i];
          formData.append('uploaded_files', file);
        }

        // if no files were uploaded, flash file text to indicate error
        if (!uploadedFiles.length) {
          shakeElement($('#fileInfo'));
          return
        }

        opts = {
          url: '/api/upload/append',
          type: 'POST',
          data: formData,
          cache: false,
          contentType: false,
          processData: false,

          success: function (res) {
            const uploaded_count = res.uploaded_count;
            showConfirmModal(`Uploaded ${uploaded_count} file(s).`);
          },

          error: function (err) {
            logError(err);
          },

          complete: () => {
            $('#FileUploadDetailsModal').modal('hide');
          }
        }
        
        showSpinner();
        $.ajax(opts);
      });
    }

    function uploadFile() {
      var opts = {
        url: '/api/user/fieldsites',
        type: 'GET',

        success: function (res) {
          hideSpinner();
          showDetailsModal(res.fieldsites);
        },

        //This error function is called if the request fails for submitting the file itself.
        error: function (error) {
          $("#fileElem").val('');
          logError(error);
        }
      };

      //Execute the AJAX call.
      $.ajax(opts);
    }

    function showDetailsModal(userFieldsites) {
      $("#fieldsite").empty();
      $.each(userFieldsites, function (index, fieldsite) {
        $('#fieldsite')
          .append($("<option></option>")
            .attr("value", fieldsite._id)
            .text(fieldsite.name));
      });

      $("#fileCount").text('0');

      $('#FileUploadDetailsModal').on('hidden.bs.modal', function () {
        hideSpinner();
        $(this).find('form').trigger('reset');
      });
      $('#FileUploadDetailsModal').modal({ keyboard: false, focus: true });
      setupDropbox();

      setupFormUpload();
    }

    setupDropbox();

  </script>

  <!-- The Upload Modal -->
  <div class="modal fade" id="FileUploadDetailsModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">ADD FILE INFORMATION</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form class="form" role="form" autocomplete="off" id="formUpload">
            <div class="form-group">
              <label for="fieldsite">Site</label>
              <select id="fieldsite" class="form-control" required="" name="fieldsite">
              </select>
            </div>

            <div class="form-group">
              <label for="overwrite" title="Identical ts_datetime and hh_datetime">Overwrite Duplicate Entries:</label>
              <input type="checkbox" id="overwrite" name="overwrite" value="1" />
              <p>Note: duplicates are rows with the same dates and times</p>
            </div>

            <div class="upload container text-center">
              <div class="upload-box" id="dropbox">
                <input type="file" id="fileElem"
                  accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                  style="display:none" onchange="handleFiles(this.files)" multiple />

                <p>Simply Drag Files or Click Here</p>

                <img class="upload_logo mt-3" src="assets/upload.svg" alt="upload icon" />
                <p id="fileInfo"><span id="fileCount">0</span> File(s) Uploaded</p>
              </div>
            </div>


            <div class="form-group pt-4">
              <button class="btn btn-danger btn-lg" data-dismiss="modal" aria-hidden="true">Cancel</button>
              <button type="submit" class="btn btn-primary btn-lg float-right" id="btnSave">Save</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

</main>
{% endblock %}