/***************************************************************
These styles are subject to the license agreement(s) provided when you purchased the license(s).

	https://store.typenetwork.com/cart/eula/type-network

***************************************************************/

.acuminproextracondensedsemibold {
	font-family: "Acumin Pro Ex Cond Semi Bd";
	font-display: swap;
	font-style: normal;
	font-weight: 600;
}

.acuminproextracondensedbold {
	font-family: "Acumin Pro Ex Cond Bd";
	font-display: swap;
	font-style: normal;
	font-weight: 700;
}
