@import "variables";

.upload {
  
  ul.no_bullet {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li.check {
    background: url('/assets/check.png') no-repeat left top;
    height: 54px;
    padding-left: 44px;
    padding-top: 3px;
    text-align: left;
  }

  .upload-box {
    border: 2px solid $swot-yellow;
    border-radius: 5px;

    .upload_logo {
      width: 120px;
    }

    .btn {
      width: 60%;
      margin: auto;
    }

    p {
      font-size: 1.3rem;
      margin: 20px;
    }    
  }
}

.maxDurationSelect {
  width: 80px;
  margin-left: 10px;
}

.confidenceSelect {
  width: 250px;
  margin-left: 10px;
  font-size: 16px;
}


.form-element-inline {
  display: inline;
}
