<h1>To {{ brand }} Accounts Admin:</h1>
<p class="text-larger">A 'Contact Us' form was just submitted to {{ brand }}:</p>
{% if enquiry.email %}
	<p class="text-larger"><strong>From:</strong>
	{% if enquiry.name.full %}
		{{ enquiry.name.full }}
	{% endif %}

	{% if enquiry.email %}
		(<a href="mailto:{{enquiry.email}}">{{ enquiry.email }}</a>)
	{% endif %}
	</p>

	{% if enquiry.phone %}
		<p class="text-larger"><strong>Phone:</strong> {{ enquiry.phone }}</p>
	{% endif %}

	{% if enquiry.reason %}
		<p class="text-larger"><strong>Reason:</strong> {{ enquiry._.reason.format() }}</p>
	{% endif %}

	{% if enquiry.message %}
		<strong>Message:</strong> {{ enquiry.message.html | safe }}
	{% endif %}

	<p class="text-muted">Sent {{ enquiry._.createdAt.format() }}</p>
{% endif %}
