/* Water Progress Bar */

.water-container {
	display: flex;
	display: none;
	background: rgba(22, 108, 241, 0.2);
	margin-left: auto;
	margin-right: auto;
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 999999;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	border-top: 1px solid #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	// padding-left: 5px;
	// padding-right: 5px;
	// padding-bottom: 30px;
	// padding-top: 5px;

	.glass {
		background: rgba(255, 255, 255, 0.5);
		border: 1px solid #bbb;
		border-top: 1px solid #eee;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		width: 300px;
		height: 400px;
		position: relative;
		margin: auto;
	}

	.water {
		background-image: url("/assets/waves.png");
		background-position: top right;
		position: absolute;
		bottom: 0px;
		width: 300px;
		height: 10%;
		-webkit-transition: all 3s ease-out;
		-moz-transition: all 3s ease-out;
		transition: all 3s ease-out;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}

	.glass.up .water {
		height: 95%;
		background-position: top left;
		-webkit-transition: all 3s ease-out;
		-moz-transition: all 3s ease-out;
		transition: all 3s ease-out;
	}
}

.hidden {
	display: none;
}

.justify-center {
	justify-content: center;
}

.flex-no-wrap {
	flex-wrap: nowrap;
}

.contact-us {
	& input,
	select,
	textarea {
		width: 400px;
	}
}

.contact-us .has-error {
	color: red;
	font-weight: bolder;
	& input,
	textarea,
	select {
		border: 1px solid red;
	}
}
