#footer {
	background: none;
	padding-bottom: 1rem;
	.legal {
		font-size: 0.9rem;
		text-align: center;
		color: #f6f7f7;
		padding: 10px 20px;
		max-width: 760px;

		&:after {
			background-color: #4069b1;
		}

		a {
			text-decoration: underline dotted;
		}

		> * {
			margin: 0 7px;
		}
	}
}

#footer {
	display: grid;
	grid-template-columns: minmax(0, 100%);
	max-width: 1280px;
	margin: 0 auto;
}
@media (min-width: 960px) {
	#footer {
		grid-template-columns: minmax(0, 220px) minmax(0, 1fr);
	}
}

@media (min-width: 768px) {
}
