/* Layout - Header */
#header {
	position: sticky;
	top: 0;
	z-index: 99;
	color: #fff;
	background-color: #4069b1;
	border-bottom: 3px solid #f3c22b;
	margin: 0;
}
#main-navigation {
	position: relative;

	display: flex;

	max-width: 1280px;
	padding: 0 20px 10px;
	margin: 0 auto;
}
/* Nav Menu */
.nav-wrap {
	display: flex;
	align-items: flex-end;
	margin: auto 0 5px auto;
}
.nav-item span:not(.txt-icon) {
	align-self: center;
	line-height: 1;
}
.nav-item.has-children {
	position: relative;
	> ul {
		position: absolute;
		top: 100%;
		left: 50%;
		z-index: 1;
		transform: translateX(-50%) translateY(0);
		opacity: 0;
		pointer-events: none;

		list-style: none;

		background-color: #fff;
		box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		width: 200px;
		padding: 10px 5px;
		margin: 0;

		transition: transform 0.25s ease 0.5s;

		&::before {
			content: "";
			position: absolute;
			left: 50%;
			bottom: 100%;
			transform: translateX(-50%) translateY(5px) rotate(-45deg);
			width: 10px;
			height: 10px;
			background-color: #fff;
		}

		* {
			pointer-events: none;
		}

		.txt-icon {
			display: flex;
			width: 100%;
			> i {
				width: 20px;
				height: 20px;
				margin: 8px;
			}
		}

		li {
			padding: 0;
		}

		a {
			font-family: "Roboto Condensed", sans-serif;
			font-size: 1.2rem;
			font-weight: 500;
			color: #1a1a1a;
			padding: 0;

			&:hover {
				color: #1a1a1a;
				text-decoration: underline 1px;
			}
		}

		hr {
			margin: 0.5rem 0;
		}
	}

	&:hover {
		> ul {
			opacity: 1;
			transform: translateX(-50%) translateY(0);
			pointer-events: all;
			transition: opacity 0.25s ease, transform 0.25s ease;

			* {
				pointer-events: all;
			}
		}
	}
}

.nav-item {
	display: flex;
	align-items: center;
	white-space: nowrap;
	> a,
	.button {
		position: relative;
		display: flex;
		align-items: center;

		font-size: 0.875rem;
		letter-spacing: 0.06em;
		text-transform: uppercase;

		cursor: pointer;

		height: 2.1rem;

		&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			border-radius: 5px;
			background-color: transparent;
		}
		> span {
			padding: 0 8px;
			text-underline-position: under;
		}
		&:hover {
			color: currentColor;
			text-decoration: none;
			> span {
				text-decoration: underline !important;
			}
			&:after {
				background-color: rgba(255, 255, 255, 0.15);
			}
		}
	}
	i,
	img,
	svg {
		width: 2.5rem;
		height: 2.5rem;
	}
}
.nav-item.profile,
.nav-item.admin,
.nav-item.signout,
.nav-item.signin {
	margin-left: 10px;
	body.nav-active & {
		opacity: 0.6;
		pointer-events: none;
	}
}
.get-started.nav-item {
	order: -1;

	padding: 0 5px;
	border-radius: 4px;
	a {
		i {
			margin: 0 5px;
		}
		i,
		img,
		svg {
			width: 1.25rem;
			height: 1.25rem;
		}
		&:after {
			background-color: rgba(255, 255, 255, 0.075);
		}
	}
}
.nav-mobile {
	img,
	svg {
		display: none;
	}
	body.nav-active & .close {
		display: block;
		opacity: 1;
	}
	body:not(.nav-active) & .open {
		display: block;
	}
}

@media (max-width: 959.9px) {
	#main-navigation {
		height: 110px;
		align-items: flex-end;
	}
	.nav-logo {
		margin: 1.5rem auto 0 0;
	}
	.nav-logo img {
		height: 70px;
	}
	.show-medium-up {
		display: none;
	}
}
@media (min-width: 960px) {
	.nav-mobile {
		display: none;
	}
	#main-navigation {
		align-items: flex-end;
		height: 130px;
		padding: 0 20px 0px;
	}
	.nav-logo {
		margin: 25px auto 20px 0px;
	}
	.nav-logo img {
		height: 75px;
	}
	.nav-wrap {
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
	}
	.nav-item {
		margin-left: 5px;
		a,
		.button {
			i,
			img,
			svg {
				width: 2.1rem;
				height: 2.1rem;
			}
		}
		&.profile,
		&.signin {
			margin-left: 40px;
		}
	}
}
