.blog-header {
	margin-bottom: 2.5rem;
	background-color: #c9d1db;

	.blog-header-wrap {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
		padding-bottom: 1.25rem;
		margin: 0 auto;

		max-width: $max-width-small;
	}
}

.page-blog,
.post-meta {
	.posts,
	.post {
		max-width: $max-width-small;
		margin: 0 auto;
	}
	> nav {
		background-color: #bec5ce;
	}

	[class*="categories-"] {
		display: inline-flex;
		flex-wrap: wrap;
		align-items: baseline;

		> * {
			display: flex;
			text-decoration: none;
			border: none;
		}
	}
	.categories-blog {
		margin-bottom: 0.2rem;

		> * {
			display: flex;
			flex: 1;
			margin: 0 0.8rem 0.4rem 0;
		}

		a,
		span {
			text-transform: uppercase;
			letter-spacing: 0;
			font-size: 1rem;
			line-height: 1.65;
			background-color: #bec5ce;
			text-decoration: none;
			padding: 0.5rem 0.75rem;
			border: 1px solid #bec5ce;
			cursor: pointer;
		}

		.divider {
			padding: 0.25rem 0;
			background-color: transparent;
		}

		.active {
			background-color: #f2f4f5;
			border-color: transparent;
		}
	}
	.categories-post {
		> *:not(.divider) {
			background-color: darken(#dbdfe4, 2.5%);
			border-radius: 4px;
			padding: 0rem 0.5rem;
			margin: 0 0.4rem 0 0;
		}

		.divider {
			color: #94a3bf;
			padding: 0 0.25rem 0 0;
		}

		.active {
			color: #f1f7fd;
			background-color: #848c94;
		}
	}
	.posts {
		.posts-filters,
		.posts-count {
			@media (max-width: $md) {
				font-size: 0.875rem;
			}
		}
		.posts-count {
			padding-top: 0.25rem;
		}
	}
	.post,
	.posts {
		position: relative;
		//
		.intro {
			margin-bottom: 2rem;
		}
		.content {
			display: grid;
			grid-auto-columns: minmax(0%, 100%);
			gap: 2rem;
		}
		//
		header {
			display: flex;
			flex-wrap: wrap;
			time {
				color: #555f70;
				margin-right: 0.25rem;
			}
		}
		figure {
			height: auto;
			margin: 0 auto;

			a,
			img {
				display: block;
				max-width: 100%;
			}

			& + div {
				margin-top: 0.5rem;
			}
		}
		.post-title {
			margin-top: calc(var(--line-height) * 0.25rem);
			margin-bottom: 0;

			transition: all 0.25s ease;

			&:hover {
				color: $col-1;
			}
		}
		.post-text {
			display: block;
			margin-top: 0.25rem;
		}
		a {
			text-decoration: underline 1px dotted rgba(0, 0, 0, 0.3);
			text-underline-offset: 2px;
			margin: 0 0.4rem 0 0;
		}
		hr {
			border: none;
			border-top: 1px solid currentColor;
			background-color: none;
			opacity: 0.2;
			margin: calc(var(--line-height) * 0.25rem) 0;
		}
		.divider {
			padding: 0 0.5rem;
		}
		hr {
		}
	}
	.post {
		article {
			border-top: 4px solid #ccd2d9;
		}
		.post-image {
			margin: 0;
			img {
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 480px;
				margin: 1rem auto;
			}
		}
		.post-details {
			border-bottom: 4px solid #ccd2d9;
			padding-top: 1rem;
			padding-top: calc(1rem * var(--line-height));
			padding-bottom: calc(1rem * var(--line-height));
			margin-top: 0;
			> * {
				max-width: 720px;
			}
		}
		.post-title,
		.section-title {
			margin-top: 0;
			margin-bottom: 0;
		}
		.post-meta {
			border-bottom: 6px solid #ccd2d9;
			padding-bottom: calc(2rem * var(--line-height));
			margin-bottom: calc(1rem * var(--line-height));
			margin-top: calc(0.5rem * var(--line-height));

			color: #555f70;
		}
	}
	.posts {
		.section-subtitle {
			margin-bottom: calc(var(--line-height) * 1rem);
		}
		article {
			// padding-bottom: 2rem;
			border-bottom: 2px solid darken(#dbdfe4, 5%);

			@media (min-width: $md) {
				justify-content: flex-start;
				grid-auto-flow: column;
			}

			.post-details {
				align-self: center;
			}
		}
		.post-title {
			color: #344563;
			line-height: 1.2;
			font-weight: 700;
			letter-spacing: normal;

			@media (min-width: $md) {
				font-size: 2.75rem;
			}
		}
		figure {
			position: relative;
			width: 150px;
			height: auto;
			margin: 0 auto;

			&::after {
				content: "";
				display: block;
				padding-bottom: 100%;
				width: 100%;
			}

			a,
			img {
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
			}

			@media (min-width: $sm) {
				grid-column: 1/2;
				width: 200px;
			}
		}
	}
	.post,
	.posts {
		hr {
			opacity: 0;
		}
		.posts-footer {
			display: flex;
			flex-wrap: wrap;

			text-align: center;
			margin-top: 2rem;

			.btn.back {
				// color: #294f93;
				padding-top: 1.25rem;
			}

			.btn {
				background-color: lighten($col-3, 8%);
				border: 1px solid darken($col-3, 5%);
				box-shadow: 0 0 0 0 darken($col-3, 5%);

				i {
					margin-bottom: calc(0.25rem * var(--line-height));
					svg {
						width: 2rem;
						height: 2rem;
					}
				}

				&:hover {
					box-shadow: 0 0 0 3px darken($col-3, 5%);
				}
			}

			.pages {
				flex-basis: 100%;

				a,
				span {
					display: inline-block;
					font-size: 1rem;
					line-height: 2rem;
					vertical-align: middle;
					background-color: lighten($col-3, 8%);
					text-decoration: none;
					border: none;
					padding: 0 1rem;
					margin: 0.25rem;
					border-radius: 6px;
					border: 1px solid darken($col-3, 10%);

					cursor: pointer;

					&.active {
						font-weight: 500;
						background-color: darken($col-3, 10%);
					}
				}
			}
		}
	}
	.posts.faq {
		article {
			padding-bottom: 0;
			border-bottom: none;

			.post-title {
				margin-top: 0;
			}
		}
		.MuiAccordion-root.faq-accordion {
			margin: 0;
			// background-color: transparent;
			border: none;
			// box-shadow: none;
			color: currentColor;
			&::before {
				display: none;
			}
			&.Mui-expanded {
				margin: 0;
			}
			.MuiAccordionSummary-root {
				min-height: 0;
				// padding: 0;

				> .MuiAccordionSummary-content {
					margin-top: 0.5rem;
					margin-bottom: 0.5rem;
				}

				&.Mui-expanded {
					min-height: 0;

					> .MuiAccordionSummary-content {
						margin-top: 0.5rem;
						margin-bottom: 0.5rem;
					}
				}
			}
			.MuiAccordionSummary-expandIconWrapper {
				font-size: 2rem;
			}
		}
	}
}

.post-meta {
	margin-bottom: 1rem;

	.categories-post {
		margin: 0 0.5rem;
	}
}
