main.page-tool {
	column-gap: 1rem;

	padding-left: 1.5rem;
	padding-right: 1.5rem;

	@media (min-width: $md) {
		grid-template-columns: minmax(0px, 160px) minmax(0px, 720px);
		grid-auto-rows: minmax(0%, max-content);
		justify-content: center;
	}

	@media (min-width: $md) and (max-width: 1280px) {
		grid-template-columns: minmax(0px, 160px) minmax(0px, 580px) !important;
	}

	.breadcrumbs {
		padding: 0.75rem 0;
	}

	.section-wrap {
		padding: 0 0rem 3rem;

		@media (max-width: $md) {
			margin: 0 auto;
			max-width: calc(100% - 2rem);
		}
	}
}

.nav-tool {
	display: none;

	@media (min-width: $md) {
		position: sticky;
		top: 9rem;

		display: grid;
		gap: calc(var(--line-height) * 0.25rem);
		align-self: flex-start;

		margin: 0 0rem 4rem;
	}
}

.nav-tool a {
	position: relative;
	display: block;
	background-color: #eef1f5;
	border: 1px #b8c2d4 solid;
	padding: 0.5rem;
	transition: box-shadow 0s ease, background-color 0s ease;

	&::before {
		display: flex;
		content: "step " attr(step);
		position: absolute;
		top: 10px;
		left: 10px;
		font-size: 0.7rem;
		font-weight: 400;
		text-align: center;
		color: #929eac;
		line-height: 1;
		text-transform: Capitalize;
	}
	& * {
		pointer-events: none;
	}
	//
	.icon {
		display: flex;
		height: relative;
		padding: 0;

		& > svg {
			color: #272d37;
			color: #a4b0bc;
			color: #848d9e;
			width: 2.5rem;
			height: 2.5rem;
			margin: 15px auto 0;
		}
	}
	//
	.label {
		display: block;
		font-family: "Acumin", "Roboto Condensed", sans-serif;
		font-size: 1.1rem;
		line-height: 1.75;
		// font-weight: 700;
		letter-spacing: -0.005em;
		text-align: center;
		text-transform: capitalize;
		text-overflow: ellipsis;
		color: inherit;
		overflow: hidden;
	}
	//
	&.active {
		background-color: #fdfdfe;
		border-radius: 9px 0 0 9px;
		pointer-events: none;

		svg {
			color: #23292f;
		}
	}
	&:not(.active):hover {
		background-color: #ebeff3;

		svg {
			color: currentColor;
		}
	}
	//
	.wrap {
		position: relative;
		display: block;
		flex-basis: 100%;
	}
}

.tool-guides,
.tool-forms,
.tool-datasets {
	h2 {
		font-weight: 700;
	}
}

.tool-guides,
.tool-forms {
	figure.image {
		position: relative;
		line-height: 0;

		a {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 2;
		}
		img {
			aspect-ratio: 1/1;
			display: block;
			line-height: initial;
			text-transform: none;
			background-color: #b8c2d4;
			border: 1px #b8c2d4 solid;
			box-shadow: 0 0 0 0 #ccd2d9;
			transition: all 0.2s ease;
		}

		&:hover img {
			cursor: pointer;
			color: #626a79;
			box-shadow: 0 0 0 5px #ccd2d9;
		}
	}
}

.tool-guides {
	> ul {
		display: grid;
		grid-auto-flow: row;
		grid-auto-rows: minmax(0, 1fr);
		> li {
			display: grid;
			gap: calc(0.75em * var(--line-height));
			align-items: flex-start;
			justify-content: flex-start;
			padding: calc(0.5em * var(--line-height)) 0;
			margin: 0;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);

			@media (min-width: $sm) {
				grid-auto-flow: column;
				grid-auto-columns: 170px minmax(0, 1fr);
			}

			.image {
				max-width: 170px;
				margin: auto;
			}
			.content {
			}
			.chapter-link {
				display: block;
			}
		}
	}
}

.tool-forms {
	ul {
		display: flex;
		justify-content: space-around;
		li {
			display: grid;
			grid-auto-flow: row;
			grid-auto-columns: minmax(0, 170px);

			text-align: center;
			padding: calc(0.5em * var(--line-height));
			margin-bottom: calc(0.5em * var(--line-height));

			.image {
				margin-bottom: calc(0.15em * var(--line-height));
			}
			.content {
			}
		}
	}
}

.tool-datasets {
}

.tool-locations {
	display: grid;
	gap: 0.5rem;
	grid-auto-flow: row;

	@media (min-width: $md) {
		grid-auto-flow: column;
	}

	> :nth-child(2),
	> :nth-child(3) {
		opacity: 0.7;
		> * {
			pointer-events: none;
		}
	}

	> :nth-child(1).chosen,
	> :nth-child(2).chosen {
		& + * {
			opacity: 1;
			> * {
				pointer-events: all;
			}
		}
	}
}

.MuiDropzoneArea-root,
.tool-drop-zone {
	svg.MuiDropzoneArea-icon {
		width: 51px;
		height: 51px;
		color: $col-3;
		.accent {
			fill: $col-2;
		}
	}
}

@keyframes MuiDropzoneArea-keyframes-progress {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -70px 0;
	}
}
@-webkit-keyframes MuiDropzoneArea-keyframes-progress {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -70px 0;
	}
}
.MuiDropzoneArea-root {
	width: 100%;
	border: dashed;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	min-height: 250px;
	border-color: rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	background-color: #fff;
}
.MuiDropzoneArea-active {
	border: solid;
	animation: MuiDropzoneArea-keyframes-progress 2s linear infinite !important;
	border-color: rgb(107, 139, 196);
	background-size: 150% 100%;
	background-image: repeating-linear-gradient(
		-45deg,
		#fff,
		#fff 25px,
		rgba(0, 0, 0, 0.12) 25px,
		rgba(0, 0, 0, 0.12) 50px
	);
}
.MuiDropzoneArea-invalid {
	border-color: #d32f2f;
	background-image: repeating-linear-gradient(
		-45deg,
		#ef5350,
		#ef5350 25px,
		#c62828 25px,
		#c62828 50px
	);
}
.MuiDropzoneArea-textContainer {
	text-align: center;
}
.MuiDropzoneArea-text {
	margin-top: 24px;
	margin-bottom: 24px;
}

.tool-date-range {
	max-width: 540px;
	margin: 0 auto;
	.date-range-picker {
	}
	.date-range-buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		margin-top: 1rem;
		button {
			cursor: pointer;
			font-weight: 500;
			border: none;
			padding: 0.5rem 1rem;
			margin: 0 0.25rem;
			width: auto;
			min-width: 0;
			box-shadow: none;
			background-color: #d5d9df;
			border-radius: 4px;
			&:hover {
				transition: all 0.2s ease-in;
				background-color: #dfd5d9;
			}
		}
	}
}

.tool-household-storage {
	position: relative;
	max-width: 540px;
	padding-left: 2rem;
	padding-right: 2rem;
	margin: 2.75rem auto 0;

	svg.MuiSvgIcon-root {
		font-size: calc(1em * var(--line-height));
		margin-left: 0.25rem;
	}

	.household-storage-labels {
		display: flex;
		justify-content: space-between;
		font-weight: 500;
		color: #929eac;

		span {
			position: relative;
			flex: 0 1 auto;
			width: 2rem;
			text-align: center;
		}
		span:nth-of-type(1) {
			margin-left: -1rem;
		}
		span:nth-last-of-type(1) {
			margin-right: -1rem;
		}
	}
	.household-storage-slider {
		padding: 0;
		margin-top: 3rem;
		.MuiSlider-thumb {
			height: 3rem;
			width: 3rem;
			margin-top: -1.5rem;
			margin-left: -1.5rem;

			box-shadow: none;

			.MuiSlider-valueLabel {
				top: -1rem;
				line-height: 1;
				text-align: center;
				color: #000;
				background: #fff;
				border: 1px #d1d1d1 solid;
				min-width: 3.75rem;
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

				.MuiSlider-valueLabelCircle {
					margin-bottom: 0.25rem;
					span {
						font-size: 2.25rem;
						margin: 0.25rem 0;
						display: block;
					}
				}
				&::before {
					border-right: 1px #d1d1d1 solid;
					border-bottom: 1px #d1d1d1 solid;
				}
				.MuiSlider-valueLabelCircle::after {
					display: block;
					content: "hours";
					color: #4a5053;
					font-weight: 400;
				}
			}
		}
	}
}

.tool-modeling-confidence-level {
	svg.MuiSvgIcon-root {
		font-size: calc(1em * var(--line-height));
		margin-left: 0.25rem;
	}
	.modeling-confidence-level-radio-group {
		color: #929eac;
		font-weight: 500;
		justify-content: flex-start;
		> * {
			margin: 0.5rem 1rem 0.5rem 0.5rem;
		}

		.MuiRadio-root {
			padding: 0;
			margin-right: 0.5rem;

			svg {
				fill: #fff;
				stroke: rgba(0, 0, 0, 0.23);
				stroke-width: 0.5px;
				border-radius: 4rem;

				width: 3rem;
				height: 3rem;
			}

			&.Mui-checked {
				svg {
					fill: #466fb6;
					stroke: #305ba8;
					stroke-width: 2px;
					box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
						0px 2px 2px 0px rgba(0, 0, 0, 0.14),
						0px 1px 5px 0px rgba(0, 0, 0, 0.12);
				}
			}
		}
	}
}

.tool-overwrite-duplicate-entries {
	label {
		align-items: center;
	}
	svg.MuiSvgIcon-root {
		font-size: calc(1em * var(--line-height));
	}
}

.btn.reanalyze {
	text-transform: none;
	color: #fcfcfc;
	background-color: $col-1;

	&[disabled] {
		background-color: #fcfcfc;
		border-color: rgba(0, 0, 0, 0.12);
	}
}

.MuiDataGrid-root.tool-data-grid {
	font-size: 14px;
	border: none;

	@media (min-width: $md) {
		font-size: 15px;
	}
	.MuiDataGrid-cell {
		font-variant-numeric: tabular-nums;
	}
	.MuiDataGrid-columnSeparator svg {
		display: none;
		visibility: hidden;
	}
	.MuiDataGrid-columnHeaders {
		background-color: #fcfcfc;
	}
	.MuiTablePagination-select {
		background-color: #f8f8f8;
		border-radius: 4px;
	}
	.MuiDataGrid-columnHeaderTitleContainer,
	.MuiDataGrid-footerContainer p {
		color: #929eac;
		font-weight: 500;
		margin-bottom: 0;
	}
	.MuiDataGrid-columnHeaderTitleContainer button,
	.MuiDataGrid-columnHeaderTitleContainer .MuiInputBase-root,
	.MuiDataGrid-columnHeaderTitleContainer .MuiCheckbox-root {
		color: #929eac;
	}
	.MuiDataGrid-columnHeaderTitle,
	.MuiDataGrid-columnHeaderTitleContainer {
		padding: 0;
	}
	.MuiDataGrid-columnHeader:not(:first-of-type) {
		border-left: 1px solid rgb(230, 230, 230);
	}
	.BtnStatus {
		justify-content: space-between;
		text-transform: none;
		color: #34d379;

		svg {
			font-size: 1.5rem;
		}

		&.waiting {
			color: #fabc05;
		}
		&.timeout {
			color: #0000ff;
		}
		&.failed {
			color: #fc9170;
		}
	}
	&[data-colindex="1"] {
		font-weight: 500;

		a {
			color: inherit;
			&:hover {
				color: $col-1;
			}
		}
	}
	.MuiCheckbox-root {
		color: #929eac;
		border-radius: 3rem;
	}
}

.MuiAccordion-root.tool-accordion {
	margin: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	color: currentColor;
	&::before {
		display: none;
	}
	&.Mui-expanded {
		margin: 0;
	}
	.MuiAccordionSummary-root {
		min-height: 0;
		padding: 0;

		> .MuiAccordionSummary-content {
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
		}

		&.Mui-expanded {
			min-height: 0;

			> .MuiAccordionSummary-content {
				margin-top: 0.5rem;
				margin-bottom: 0.5rem;
			}
		}
	}
	.MuiAccordionSummary-expandIconWrapper {
		font-size: 2rem;
	}
	.MuiAccordionDetails-root {
		padding: 0;
	}
}

.MuiDropzoneArea-root {
	border-color: rgba(0, 0, 0, 0.12) !important;
	border-radius: 4px !important;
	background-color: #f0f1f3 !important;
	border-width: 2px !important;
}

.MuiTooltip-tooltip {
	color: #272d37 !important;
	background-color: #fff !important;
	padding: 0.75rem !important;
	border: $col-4 2px solid;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12);

	.MuiTooltip-arrow {
		color: $col-4;
	}

	.btn {
		display: inline-block;
		color: #272d37;
		margin-top: 1rem;
	}
}

.MuiCheckbox-root {
	.MuiSvgIcon-root {
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 3px;
	}
	&.Mui-checked {
		.MuiSvgIcon-root {
			color: $col-1;
			// background-color: #305ba8;
		}
	}
}

// div.MuiAutocomplete-endAdornment,
// svg.MuiSelect-icon {
// 	top: calc(50% - (var(--line-height) * 0.5em));
// 	font-size: calc(var(--line-height) * 1em);
// }

.tip-full {
	display: inline-grid;
}

a.MuiButton-root,
button.MuiButton-root,
*.MuiButton-root {
	font: inherit;
	text-transform: none;
	.MuiSvgIcon-root {
		font-size: calc(1em * var(--line-height));
	}
}

main[class*="page"] > .MuiSnackbar-root,
article[class*="page"] > .MuiSnackbar-root,
.MuiSnackbar-root.tool-alerts,
.MuiSnackbar-root {
	max-width: calc(100% - 1rem);
	width: auto;
	padding: 0;
	margin: calc(var(--line-height) * 0.5rem);
	bottom: 0;

	> .MuiAlert-root {
		padding: 6px 8px;
	}

	> .MuiAlert-icon,
	> .MuiAlert-action,
	> * > .MuiAlert-icon,
	> * > .MuiAlert-action {
		padding: 5px;
		margin: 0;
		> * {
			padding: 0;
		}
	}
}
