/* Variables */
:root {
	--swot-1: #fff4a4;
	--swot-2: #b3e8cd;
	--swot-3: #99d8ff;
	--swot-4: #ff99cc;
}

svg .swot-1 {
	fill: var(--swot-1);
}
svg .swot-2 {
	fill: var(--swot-2);
}
svg .swot-3 {
	fill: var(--swot-3);
}
svg .swot-4 {
	fill: var(--swot-4);
}

/* Layout - Main - Sidebar */
#sidebar {
	position: sticky;
	top: 0;
	z-index: 10;

	align-self: flex-start;
	overflow: hidden;
}
.nav-item-header {
	display: flex;
	align-items: center;
	font-size: 1rem;
	color: #9b99af;
	i {
		width: 40px;
		height: 40px;
	}
}
.nav-item-side {
	display: block;

	font-family: "Roboto Condensed", sans-serif;
	font-size: 1.27rem;
	text-underline-position: under;

	> span {
		display: block;
		line-height: 50px;
		flex-basis: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.num {
		font-size: 80%;
		margin-right: 3px;
	}

	&:hover {
		text-decoration: none;
	}
	.active {
		text-decoration: underline;
	}
}
nav .dashboard {
	i {
		background-color: #edeef0;
		border-radius: 4px;
		img,
		svg {
			max-width: 60%;
			max-height: 60%;
		}
	}
}
.guest-options {
	color: #9b99af;
	padding: 20px;
	a {
		color: #4069b1;
		font-weight: 600;
		text-decoration: underline dotted 1px;
	}
	p {
		font-size: 1rem;
	}
}

@media (max-width: 959.9px) {
	#sidebar {
		position: fixed;
		top: 115px;
		left: 0;
		right: 0;
		bottom: 0;
		max-height: calc(100vh - 85px);
		overflow: auto;
		body.nav-active & {
			padding-left: 5%;
			padding-bottom: 5px;
			background-color: rgba(#fff4a4, 0.5);
			transition: background-color 0.5s ease 0.1s;
		}
		body:not(.nav-active) & {
			width: 0px;
			pointer-events: none;
			nav {
				opacity: 0;
				transform: translateX(-100%);
			}
		}
		nav {
			max-width: 310px;
			background-color: #fff;
		}
		.nav-item-header {
			padding: 10px 20px;
			background-color: #edeef0;

			i {
				order: -1;
				margin-right: 10px;
				margin-left: -5px;

				width: 30px;
				height: 30px;
				svg,
				img {
					// display: none;
				}
			}
		}
		.nav-item-side {
			display: block;
			padding: 0 20px;
			&.active,
			&:hover {
				color: #fff;
				background-color: #4069b1;
			}
		}
	}
}
@media (min-width: 960px) {
	#sidebar {
		top: 180px;
		padding-top: 20px;
		padding-bottom: 35px;
		max-width: 230px;
	}
	#sidebar nav {
		border-radius: 5px;
		margin: 0px 20px 0px 20px;
	}
	.guest-options {
		background-color: #fff;
	}
	.hide-medium-up {
		display: none;
	}
	.nav-item-header {
		flex-direction: column;
		margin-bottom: 10px;

		i {
			svg,
			img {
				display: block;
				margin: 0 auto 10px;
			}
		}
	}
	.nav-item-header span {
		line-height: 45px;
	}
	#sidebar .guides {
		margin-bottom: 10px;
	}
	.nav-item-side {
		text-align: center;
		background-color: #fff;
		border-radius: 4px;
		border: 1px solid #bdccd4;
		margin-bottom: 5px;
		transition: box-shadow 0s ease 0.25s, background-color 0.15s ease;
	}
	.nav-item-side:hover,
	.nav-item-side.active {
		position: relative;
		z-index: 2;
		color: #fff;
		background-color: #4069b1;
		transition: box-shadow 0s ease 0.25s, background-color 0.05s ease;
	}
	.nav-item-side:active {
		position: relative;
		z-index: 2;
		box-shadow: 0px 0px 0px 4px lighten(#4069b1, 20%);
		transition-delay: 0s;
	}
	.nav-item-side.active {
		border-color: #161819;
		box-shadow: 0px 0px 0px 2px lighten(#161819, 20%);
	}
}
