#news {
  > header {
  }
  > article {
    padding: 15px 15px 15px;
    margin: 0;
    background-color: #fcfcfc;
  }
  // Bits
  time {
    color: #929eac;
  }
  // rte
  h2,
  h3,
  h4,
  h5 {
    font-weight: 400;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 1.2;
  }
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media (max-width: 719.9px) {
  }
  @media (min-width: 720px) {
    > article {
      padding: 30px 50px 30px;
      margin: 0;
    }
  }
}

article.block {
  display: flex;
  align-items: flex-start;

  figure {
    position: relative;
    width: 100px;
    margin: 0 15px 0 0;

    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 100%;
      background-color: #fff;
      border-radius: 5px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  > div {
    flex: 1;
    margin-top: 10px;
  }

  h2 {
    margin: 0 0 0.5rem 0;
  }

  @media (max-width: 959.9px) {
  }
  @media (min-width: 960px) {
    figure {
      width: 150px;
    }
  }
}
