@font-face {
  font-family: "Roboto Condensed";
  src: url("/fonts/roboto/Roboto-CondensedMedium.eot");
  src: url("/fonts/roboto/Roboto-CondensedMedium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/roboto/Roboto-CondensedMedium.woff2") format("woff2"),
    url("/fonts/roboto/Roboto-CondensedMedium.woff") format("woff"),
    url("/fonts/roboto/Roboto-CondensedMedium.ttf") format("truetype"),
    url("/fonts/roboto/Roboto-CondensedMedium.svg#Roboto Condensed") format("svg");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("/fonts/roboto/Roboto-CondensedMediumItalic.eot");
  src: url("/fonts/roboto/Roboto-CondensedMediumItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/roboto/Roboto-CondensedMediumItalic.woff2") format("woff2"),
    url("/fonts/roboto/Roboto-CondensedMediumItalic.woff") format("woff"),
    url("/fonts/roboto/Roboto-CondensedMediumItalic.ttf") format("truetype"),
    url("/fonts/roboto/Roboto-CondensedMediumItalic.svg#Roboto Condensed") format("svg");
  font-style: italic;
  font-weight: 500;
}

$font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

:root {
  font: 400 16px/1.3 $font-family;

  letter-spacing: 0;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  // -- Font Settings

  font-kerning: normal;
  -moz-font-kerning: normal;
  -webkit-font-kerning: normal;

  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern" 1, "kern";
  -moz-font-feature-settings: "kern=1";

  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-osx-font-smoothing: auto;
}

.txt-center {
  text-align: center;
}

.txt-700 {
  font-weight: 700;
}
.txt-600,
strong {
  font-weight: 600;
}
.txt-500 {
  font-weight: 500;
}

.txt-condensed {
  font-family: "Roboto Condensed", sans-serif;
}
