$col-1: #4069b1;
$col-2: #92a4c4;
$col-3: #dbdfe4;
$col-4: #f2c148;
$col-5: #272d37;
$col-text: #4f5e78;
$col-text: #4069b1;

$sm: 640px;
$md: 960px;
$lg: 1280px;

$max-width: 960px;
$max-width-small: 720px;
