:root {
	text-rendering: optimizeLegibility;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

	// -- Font Settings

	font-kerning: normal;
	-moz-font-kerning: normal;
	-webkit-font-kerning: normal;

	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern" 1, "kern";
	-moz-font-feature-settings: "kern=1";

	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-osx-font-smoothing: auto;

	color: #464e5c;
}

/* Layout */
html {
	min-height: 100vh;
	margin: 0;
}

body {
	min-height: 100vh;
	margin: 0;

	overflow-y: scroll;
	&.hidden {
		overflow: hidden;
	}
}

#app {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
}

main[class*="page"],
article[class*="page"] {
	flex: 1;

	display: grid;
	justify-items: center;
	background-color: $col-3;
	grid-template-columns: minmax(0%, 100%);
	grid-auto-rows: minmax(0%, max-content);

	> * {
		width: 100%;
	}
}
