main {
	section {
		&:last-child {
			padding-bottom: 4rem;
		}
	}
}
.section-wrap {
	position: relative;

	display: grid;
	grid-auto-rows: minmax(0%, max-content);
	gap: calc(var(--line-height) * 1rem);
	width: 100%;
	height: auto;
	margin: 0 auto;

	padding-left: 2.5rem;
	padding-right: 2.5rem;
	max-width: $max-width-small;
	@media (min-width: $md) {
		max-width: $max-width;
	}

	&.compact {
		max-width: $max-width-small;
	}
}
.section-title,
.section-subtitle {
	font-family: "Roboto Condensed", "Acumin Cond", sans-serif;
	// font-weight: 700;
	font-size: 2.25rem;
	line-height: 1.1;

	margin-bottom: calc(var(--line-height) * 1rem);
	margin-top: calc(var(--line-height) * 2rem);

	@media (min-width: $md) {
		font-size: 2.5rem;
	}
}
.section-subtitle {
	font-size: 2rem;
	@media (min-width: $md) {
		font-size: 2.25rem;
	}
}
.section-title {
	margin-bottom: calc(var(--line-height) * 1rem);
	margin-top: calc(var(--line-height) * 1.25rem);
}

.app-cards {
	display: grid;
	gap: 1rem;
}

.app-card {
	background-color: #fdfdfe;
	padding: 1rem;
	border-radius: 6px;

	&:first-child {
		border-radius: 0 0 6px 6px;
		border-top: 1px #b8c2d4 solid;
	}

	.sub-section {
		padding: 0.25rem 0.75rem;
	}
}

.section-title.home,
.section-subtitle.home,
.section-subtitle.user,
.app-card .section-title,
.app-card .section-subtitle {
	margin-top: calc(var(--line-height) * 1rem);
	margin-bottom: calc(var(--line-height) * 0.75rem);

	& + hr {
		margin-top: calc(var(--line-height) * 0.75rem);
	}

	font-size: 2.25rem;
	@media (min-width: $md) {
		font-size: 2.25rem;
	}
}

#home-profile {
	.section-wrap {
		padding: 0;
	}
}

#home-profile {
	.options {
		display: grid;
		gap: calc(var(--line-height) * 1rem);

		.option {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: #fdfeff;
			border: 1px #b8c2d4 solid;
			padding: 1rem;

			i,
			.i {
				display: block;
				position: relative;
				width: 4.5rem;
				height: 4.5rem;
				color: darken(#eff2f5, 15%);
				margin-bottom: 0.5rem;

				cursor: pointer;

				svg {
					width: 100%;
					height: 100%;
					transition: all 0.2s ease;
				}
			}

			i:hover,
			.i:hover {
				svg {
					color: #8993a7;
				}
				& ~ * {
					a {
						color: #8993a7;
						text-decoration-color: #8993a7;
					}
				}
			}

			a {
				text-decoration: underline;
				transition: all 0.2s ease;

				&:hover {
					color: #8993a7;
					text-decoration-color: #8993a7;
				}
			}

			&.request {
				position: relative;
				i::before,
				.i::before {
					content: "+";

					position: absolute;
					top: -0.5rem;
					right: -0.25rem;
					z-index: 5;

					color: $col-4;
					font-size: 3rem;
					line-height: 1;
					font-weight: 700;
				}
			}
			&.contact {
				i,
				.i {
					color: currentColor;
				}
			}
		}
	}
}
.tool-footer,
#home-profile .cards {
	display: grid;
	grid-template-columns: minmax(0, 100%);
	gap: calc(var(--line-height) * 1rem) calc(var(--line-height) * 0.75rem);

	align-items: stretch;

	@media (min-width: $sm) and (max-width: $md) {
		grid-template-columns: repeat(3, minmax(0, 33.333%));

		.card.tool {
			grid-column: 1/-1;
		}
	}

	@media (min-width: $md) {
		grid-template-columns: minmax(0, 50%) minmax(0, 50%);
		gap: calc(var(--line-height) * 1rem);
	}

	.card {
		position: relative;

		text-transform: none;
		background-color: #fdfeff;
		border: 1px #b8c2d4 solid;
		box-shadow: 0 0 0 0 #ccd2d9;
		border-radius: 7px;

		padding: 1.5rem 5.5rem 1.5rem 1.25rem;
		height: 100%;
		width: 100%;

		@media (min-width: $sm) {
			padding: 2rem 2rem 4.5rem;
		}

		transition: all 0.2s ease;

		&:not(.tool) {
			* {
				pointer-events: none;
			}

			&:hover {
				cursor: pointer;
				color: #626a79;
				box-shadow: 0 0 0 5px #ccd2d9;
			}
		}

		&.tool {
			background-color: #eef1f5;
			border-radius: 0 7px 7px 0;

			.tool-menu-mobile {
				font-family: "Roboto Condensed", "Acumin Cond", sans-serif;
				font-size: 1.2rem;
				padding: 0;
				margin: 0;

				list-style-type: none;
				list-style: none;

				li {
					padding: calc(var(--line-height) * 0.5rem) 0;
					margin: 0;
					&:not(:last-child) {
						border-bottom: #b8c2d4 1px solid;
					}
					&::before {
						display: none;
					}
					a {
						text-decoration: none;
					}
					i {
						position: absolute;
						top: 50%;
						right: 1rem;
						transform: translateY(-50%);

						// color: #b8c2d4;
						line-height: 0;
					}
				}
			}

			.tool-menu-mobile,
			> i {
				display: none;
			}

			@media (max-width: $md) {
				padding: 1.5rem 1.25rem;
				border-radius: 7px;

				.tool-menu-mobile {
					display: block;
				}
			}

			@media (min-width: $md) {
				border-radius: 0 7px 7px 0;

				p {
					margin: 0;
				}

				> i {
					display: block;
				}
			}
		}

		.title {
			font-weight: 500;
			margin: 0;
			margin-bottom: 0.5rem;

			@media (min-width: $md) {
				margin-bottom: 0.75rem;
			}
		}
		> i {
			position: absolute;
			bottom: 50%;
			right: 2rem;
			transform: translateY(50%);

			display: block;
			line-height: 0;

			@media (min-width: $sm) {
				bottom: 1.5rem;
				left: 2rem;
				right: auto;
				transform: none;
			}
		}
	}
}

#notfound {
	background-color: #dbdfe4;

	.section-wrap {
		max-width: 720px;
	}

	.sign-up {
		display: grid;
		grid-template-columns: minmax(0, 100%);
		gap: 1rem;
		padding-top: 2rem;

		@media (min-width: 640px) {
			grid-template-columns: minmax(0, 50%) minmax(0, 50%);
			gap: 1rem 3rem;

			.section-subtitle {
				margin-left: -0.03em;
			}
		}
	}

	.sign-up-img {
		position: relative;
		width: 100%;
		overflow: hidden;
		border-radius: 80% 100% 80% 80%;
		border: 10px solid #e2e6ed;
		max-width: 480px;
		margin: auto;
		@media (min-width: $md) {
			transform: rotate(-10deg);
			max-width: none;
		}
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 10;
			transform: translate(-50%, -50%);
			content: "?";
			display: block;
			font-size: 9rem;
			font-weight: 700;
			color: #dbdfe4;

			@media (min-width: $md) {
				transform: translate(-50%, -50%) rotate(10deg);
			}
		}
		&::after {
			content: "";
			display: block;
			width: 100%;
			padding-bottom: 100%;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;

			position: absolute;
			top: 0;
			left: 0;

			background-color: $col-5;
		}

		@supports (aspect-ratio: 1/1) {
			aspect-ratio: 1/1;
			padding-bottom: 0;
			&::after {
				display: none;
			}

			img {
				position: static;
			}
		}
	}

	.sign-up-content {
		text-align: center;
		max-width: #{$lg * 0.333};
		margin: auto;
		p {
			margin-bottom: 0;
		}

		@media (min-width: $md) {
			text-align: left;
			align-self: center;
		}
	}

	hr {
		grid-column: 1/-1;
		margin: 1rem 0;
	}

	.btn {
		display: inline-block;
		color: inherit;
		text-align: center;
		text-decoration: none;
		padding: 0.5em 1em;

		justify-self: center;

		i {
			margin-bottom: 0.25rem;
		}

		svg {
			width: 1.5em;
			height: 1.5em;
		}
	}
}

#page-terms-of-use,
#page-privacy-policy,
#page-cookie-policy {
	background-color: #dbdfe4;
}
#page-cookie-policy {
	hr {
		opacity: 0;
		margin: 2rem 0;

		& + h3 {
			margin-bottom: 2rem;
		}
	}
	table {
		table-layout: auto;
		width: 100%;

		thead {
			font-weight: 500;

			td {
				border-bottom: 3px solid #ccc;
			}
		}

		td {
			&:nth-child(1) {
				width: 20%;
			}

			&:nth-child(2) {
				width: 15%;
			}

			&:nth-child(3) {
				width: 35%;
			}

			&:nth-child(4) {
				width: 20%;
			}

			&:nth-child(5) {
				width: 10%;
			}
		}

		tr {
			&:not(:last-child) td {
				border-bottom: 1px solid #ccc;
			}
		}

		td {
			padding: 10px;
		}

		td,
		input {
			vertical-align: top;
		}

		p {
			margin-bottom: 0.5rem;
		}
	}
}
