section {
	.section-wrap {
		position: relative;

		display: grid;
		grid-auto-rows: minmax(0%, max-content);
		gap: calc(var(--line-height) * 1rem);
		width: 100%;
		height: auto;
		margin: 0 auto;

		padding-left: 1.5rem;
		padding-right: 1.5rem;

		max-width: $max-width-small;

		@media (min-width: $md) {
			padding-left: 2rem;
			padding-right: 2rem;
			padding-bottom: 1rem;

			max-width: $max-width;
		}

		&.compact {
			max-width: 640px;
		}
	}
	.section-title,
	.section-subtitle {
		font-family: "Roboto Condensed", sans-serif;
		font-weight: 700;
		font-size: 2.75rem;
		line-height: 1.1;
		letter-spacing: -0.0175em;

		margin-bottom: calc(var(--line-height) * 0.5rem);
		margin-top: calc(var(--line-height) * 0.75rem);

		@media (min-width: $md) {
			font-size: 3.25rem;
			margin-top: calc(var(--line-height) * 2.25rem);
		}
	}
	.section-subtitle {
		font-size: 2.25rem;
		@media (min-width: $md) {
			font-size: 3rem;
		}
	}
}

.app-card {
	background-color: #f6f7f9;
	padding: 0.75rem 1rem 1rem 1rem;
	border-radius: 6px;

	.section-title,
	.section-subtitle {
		margin-top: calc(var(--line-height) * 1rem);

		font-size: 2.25rem;
		@media (min-width: $md) {
			font-size: 2.25rem;
		}
	}

	.sub-section {
		padding: 0.25rem 0.75rem;
	}
}

#home-profile {
	.options {
		display: grid;
		gap: 1rem;

		.option {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: #eff2f5;
			padding: 1rem;

			i {
				display: block;
				position: relative;
				width: 4.5rem;
				height: 4.5rem;
				color: darken(#eff2f5, 15%);
				margin-bottom: 0.5rem;

				svg {
					width: 100%;
					height: 100%;
				}
			}

			a {
				text-decoration: underline;
			}

			&.request {
				position: relative;
				i::before {
					content: "+";

					position: absolute;
					top: -0.5rem;
					right: -0.25rem;
					z-index: 5;

					color: $col-4;
					font-size: 3rem;
					line-height: 1;
					font-weight: 700;
				}
			}
		}
	}
}
