// sass --watch src/style.scss:public/assets/style.css

$col-1: #4069b1;
$col-2: #92a4c4;
$col-3: #e3e4e6;
$col-4: #f2c148;
$col-5: #272d37;
$col-text: #405a87;

$sm: 640px;
$md: 960px;
$lg: 1280px;

$max-width: 1080px;
